
body {
  min-height:100vh;
  font-size: 16px;
  font-family: 'Oxygen', sans-serif;
}


#output {
	margin-top: 20px;
}

/*#output, #cleanValues {
	font-size: 10vw;
}

#intro {
	font-size: 2em;
}*/




/*#beta, #beta_clean {
	background-color: #80ff80;
}

#gamma {
	background-color: #80b3ff;
}*/

#start-button {
	background-color: white;
	color: black;
}

#main {
	background-color: black;
}

#counter {
	color: white;
	font-size: 10vw;
}